{% extends 'base.html.twig' %}
{% block title %}{{annonce.title}}{% endblock %}
{% block pageTitle %}{{annonce.title}}{% endblock %}
{% block body %}

    {% for key, dog in dogs %}


            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../img/{{dog.picture}}" alt="photo de {{dog.name}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2>{{dog.name}}</h2>

                            {% if dog.isAdopted == 1 %}
                                <p class="bg-secondary text-white p-2">{{ 'dog.adopted'|trans }} !</p>
                            {% else %}
                                <p class="bg-info text-white p-2">{{ 'dog.available'|trans }}</p>
                            {% endif %}

                            <p>{{ 'dog.birthdate'|trans }} : {{dog.dateOfBirth  | date("d/m/Y")}}</p>
                            <p>{{ 'dog.breed'|trans }} :

                                {%  for breed in dog.breeds %}
                                    {{ breed }}
                                {% endfor %}
                            </p>
                            <p class="card-text">{{dog.description}}</p>
                            {% if dog.isAdopted == 0 %}
                            <a href="/contact/{{dog.id}}" class="btn btn-primary">{{ 'dog.adopt'|trans }} {{dog.name}}</a>
                            {% endif %}
                            <p class="card-text mt-3"><small class="text-muted">{{ 'dog.submit'|trans }} {{annonce.publicationDate  | date("d/m/Y")}} | Mis à jour le{{ 'dog.update'|trans }}  {{annonce.updateDate  | date("d/m/Y")}} </small></p>
                        </div>
                    </div>
                </div>
            </div>


    {% endfor %}

{% endblock %}